<!DOCTYPE html>
<html>
<head>
	<title>Song</title>
</head>
<a href="/songs/new">Dashboard</a>
<body>
	<h1>Others who added <%= @song.artist %> - <%= @song.title %></h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Times Added</th>
		</tr>
		
		<% @users.each do |u| %>
		<tr>
			<th><a href="/users/<%= u.user_id %>"><%= u.user.first_name %> <%= u.user.last_name %></a></th>
			<th><%= u.user_id %></th>
		</tr>
		<% end %>
		
	</table>
</body>
</html>